tenantservice-host: 127.0.0.1
tenantservice-port: 9999
sqvs-url: https://<sqvs.server:port>/svs/v1
server:
  read-timeout: 30s
  read-header-timeout: 10s
  write-timeout: 30s
  idle-timeout: 10s
  max-header-bytes: 1048576
log:
  max-length: 1500
  enable-stdout: true
  level: info
